<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>校园二手交易平台管理系统</title>
    <!--    <link rel="stylesheet" th:href="@{css/allUser.css}">-->
    <link rel="stylesheet" href="../css/allUser.css">
    <!--    <script th:src="@{js/allUser.js}"></script>-->
</head>
<body style="overflow: auto">
<div class="nav-box">
    <h2>校园二手交易平台管理系统</h2>
    <ul>
        <li><img src="../image/用户.png" alt=""><a href="allUser.html">用户信息管理</a></li>
        <li><img src="../image/用户.png" alt=""><a href="Commodity.html">商品信息管理</a></li>
        <li><img src="../image/用户.png" alt=""><a href="order_manage.html">订单信息管理</a></li>
        <li><img src="../image/用户.png" alt=""><a href="manager_login.html">切换管理员</a></li>
        <li onclick="exit()" class="exit"><img src="../image/退出系统ico.png"  alt=""><a href="首页.html">退出系统</a></li>
    </ul>
</div>
<div class="container-box">
    <div class="super_box">
        <span>管理员:</span>
        <span th:text="${session.loginUser}"></span>
        <span>></span>
        <span>邮箱:</span>
        <span th:text="${session.email}"></span>
        <span>手机号码:</span>
        <span th:text="${session.tel}"></span>
    </div>
    <!--    <div class="reminder-box"><h3>&nbsp;&nbsp;操作面板&nbsp;&nbsp;</h3></div>-->
    <div class="title-box"><h1>用户信息管理界面</h1></div>
    <div class="funtions-box">
        <input type="text" placeholder="请输入查找的用户编号" class="uid">
        <button type="button" class="btn">搜索</button>
        <button>-</button>
        <button>修改</button>
        <button>+</button>
        <button type="button" onclick="allCommodity()">查看全部用户</button>
        <span th:text="${msg}"></span>
    </div>
    <table class="table-th" id="Commodity" data-name="Commodity" style="width: 1180px">
        <tr>
            <th>用户ID</th>
            <th>用户昵称</th>
            <th>密码</th>
            <th>电话</th>
            <th>邮箱</th>
            <th>删除？修改</th>
            <!--            <th>电话</th>-->
        </tr>
    </table>
<div style="margin-top:35px;overflow: auto;max-height: 480px">
    <table class="table" id="tableTh">
        <tr>
            <td th:text="${alluser.id}"></td>
            <td th:text="${alluser.name}"></td>
            <td th:text="${alluser.password}"></td>
            <td th:text="${alluser.email}"></td>
            <td th:text="${alluser.phone}"></td>
        </tr>
    </table>
</div>
    <form class="delect_form"  method="post" th:action="@{/delectUser}">
        <input type="text" name="username">
    </form>
    <form class="add_form" method="post" action="#">
        <h1>添加账号</h1>
        <input type="text" placeholder="用户ID" id="id" name="id" required>
        <input type="text" placeholder="用户昵称" id="name" name="name" required>
        <input type="text" placeholder="密码" id="password" name="password" required>
        <input type="text" placeholder="电话" id="phone" name="phone"   required>
        <input type="email" placeholder="邮箱" id="email" name="email"  required>
        <button type="button" onclick="ensureAddCommodity()">添加商品</button>
        <button type="button">取消</button>
    </form>
    <form method="post" action="#" class="add_form alter_form" >
        <h1>修改账号</h1>
        <input type="text" placeholder="用户ID" id="Aid" name="commodityID" readonly>
        <input type="text" placeholder="用户昵称" id="Aname" name="userID" required>
        <input type="text" placeholder="密码" id="Apassword" name="name" required>
        <input type="text" placeholder="电话" id="Aphone" name="price"   required>
        <input type="email" placeholder="邮箱" id="Aemail" name="stock"  required>
        <button type="submit">修改</button>
        <button>取消</button>
    </form>
</div>
</body>

<script>
    function exit(){
        localStorage.clear()
    }
</script>
<script src="../js/axios.js"></script>
<script type="module" src="../js/auth.js"></script>
<script type="module">
    import {service} from "../js/axiosInterceptor.js"
    var uidElement = document.querySelector('.uid')
    service({
        url: '/admin/getUsers',
        method: 'get',
        params: {
            // name: 'tom'
        }
    }).then(result =>{
        const userList = result.data.data
        const htmlStr = userList.map(user => {
            return '<tr>\n' +
                '<td th:text="${user.id}">' + ((user.id != null) ? user.id : '') + '</td>\n' +
                '<td th:text="${user.name}">' + ((user.name != null) ? user.name : '') + '</td>\n' +
                '<td th:text="${user.password}">' + ((user.password != null) ? user.password : '') + '</td>\n' +
                '<td th:text="${user.email}">' + ((user.email != null) ? user.email : '') + '</td>\n' +
                '<td th:text="${user.phone}">' + ((user.phone != null) ? user.phone : '') + '</td>\n' +
                '</tr>'
        }).join('')
        document.querySelector('.table').innerHTML = htmlStr
    }).catch(error => {
        alert(error)
    })
    document.querySelector('.exit').addEventListener('click', e => {
        localStorage.clear()
        location.href = '123.html'
    })
    document.querySelector('.btn').addEventListener('click', e => {
        service({
            url: '/user/' + uidElement.value,
            method: 'get'
        }).then(result =>{
            if(result.data.code != 1) {
                alert(result.data.msg)
                return
            }
            var user = result.data.data
            const htmlStr = '<tr>\n' +
                    '<td th:text="${user.id}">' + ((user.id != null) ? user.id : '') + '</td>\n' +
                    '<td th:text="${user.name}">' + ((user.name != null) ? user.name : '') + '</td>\n' +
                    '<td th:text="${user.password}">' + ((user.password != null) ? user.password : '') + '</td>\n' +
                    '<td th:text="${user.email}">' + ((user.email != null) ? user.email : '') + '</td>\n' +
                    '<td th:text="${user.phone}">' + ((user.phone != null) ? user.phone : '') + '</td>\n' +
                    '</tr>'
            document.querySelector('.table').innerHTML = htmlStr
        }).catch(error => {
            alert(error)
        })
    })
</script>
<script>
    const table = document.getElementsByClassName("table")[0];
    const funtionsInput = document.querySelectorAll(".funtions-box input")[0];
    const funtionsButtonSearch = document.querySelectorAll(".funtions-box button")[0];
    const funtionsButtonDelect = document.querySelectorAll(".funtions-box button")[1];
    const funtionsButtonUpdata = document.querySelectorAll(".funtions-box button")[2];
    const funtionsButtonAdd = document.querySelectorAll(".funtions-box button")[3];

    const formDelect = document.getElementsByClassName("delect_form")[0];
    const formAdd = document.getElementsByClassName("add_form")[0];
    const formAlter = document.getElementsByClassName("alter_form")[0];

    const formAddAllButton = document.querySelectorAll(".add_form button");
    const formAlterAllButton = document.querySelectorAll(".alter_form button");
    const nameTd = [];
    var highlightedRow = null; // 用于跟踪当前高亮显示的行

    service({
        url: '/commodity/all',
        method: 'get',
    }).then(result =>{
        if(result.data.code != 1) {
            alert(result.data.msg)
            location.href = '/html/index.html'
        }
    }).catch(error => {
        alert(error)
    })

    addButtonSearch()
    addValue()
    //alterUser()

    function addButtonSearch()//点击查找按钮时
    {
        funtionsButtonSearch.addEventListener('click',()=>{
            // 恢复上一个高亮行的背景颜色
            if (highlightedRow !== null) {
                highlightedRow.style.backgroundColor = '';
            }

            if(funtionsInput.value!=='')
            {
                getNameAllTd()
                let i;
                var rows = table.getElementsByTagName('tr');

                let if_have=0;
                alert(table.rows.length);
                for(i = 0; i<table.rows.length; i++)
                {
                    var idCell = rows[i].getElementsByTagName('td')[0]; // 第一列是 ID 列
                    if (idCell.textContent === funtionsInput.value) {

                        rows[i].style.backgroundColor = 'red'; // 将匹配的行背景色设置为红色
                        rows[i].scrollIntoView({ block: 'center' }); // 将匹配的行滚动到屏幕中间
                        highlightedRow = rows[i]; // 更新当前高亮行
                        if_have=1;
                        break; // 操作完成后退出循环
                    }
                    //alert(idCell.textContent);
                }
                //alert("发生了");
                if(if_have===0)
                {
                    alert("没有找到该用户")
                }
            }
            else
            {
                alert("用户名为空!")
            }

        })
    }

    function getNameAllTd()//获取表格每一行的名字
    {
        for(let i=0;i<table.rows.length;i++)
        {
            nameTd[i]=table.rows[i].cells[0]
            //alert(nameTd[i].toString());
        }
    }

    function addValue()
    {
        funtionsButtonAdd.addEventListener('click',()=>{
            formAdd.style.visibility="visible" //添加用户表单显示
        })
        formAddAllButton[1].addEventListener('click',()=>{
            formAdd.style.visibility="hidden" //添加用户表单点击取消隐藏表单
        })

    }

    function ensureAddCommodity()
    {
        var xhttp = new XMLHttpRequest();

        var idV = document.getElementById("id");
        var nameV=document.getElementById("name");
        var passwordV=document.getElementById("password");
        var phoneV = document.getElementById("phone");
        var emailV=document.getElementById("email");

        var obj = JSON.stringify({"id":idV.value,"name":nameV.value,"password":passwordV.value,"phone":phoneV.value,"email":emailV.value});
        //var obj = JSON.stringify({"name":commodityIDV.value,"email":userIDV.value,"phone":nameV.value,"password":priceV.value,"imageUrl":"null"});
        // xhttp.open("POST", "../admin/register", true);
        // xhttp.setRequestHeader('Content-Type', 'application/json');
        // xhttp.send(obj);
        //window.open("/html/register_scuess.html");
        formAdd.style.visibility="hidden" //添加用户表单点击取消隐藏表单
        var tbody = document.getElementById('tableTh');
        tbody.className="table";
        var addCommodity=JSON.parse(obj);
        var trow = addValue1(addCommodity); //定义一个方法,返回tr数据
        tbody.appendChild(trow);
        alert("添加成功！");

    }

    function addValue1(h)
    {
        var row = document.createElement('tr'); //创建行

        var idCell = document.createElement('td'); //创建第一列id
        //idCell.className="add-form";
        idCell.innerHTML = h.id; //填充数据
        row.appendChild(idCell); //加入行  ，下面类似

        var nameCell = document.createElement('td');//创建第二列name
        //nameCell.className="table-th";
        nameCell.innerHTML = h.name;
        row.appendChild(nameCell);

        var jobCell = document.createElement('td');//创建第三列job
        //jobCell.className="table-th";
        jobCell.innerHTML = h.password;
        row.appendChild(jobCell);

        var emailCell = document.createElement('td');//创建第三列job
        //emailCell.className="table-th";
        emailCell.innerHTML = h.phone;
        row.appendChild(emailCell);

        var telCell = document.createElement('td');//创建第三列job
        //telCell.className="table-th";
        telCell.innerHTML = h.email;
        row.appendChild(telCell);

        var delCell = document.createElement('td');//创建第四列，操作列
        row.appendChild(delCell);
        var btnDel = document.createElement('input'); //创建一个input控件
        btnDel.setAttribute('type','button'); //type="button"
        btnDel.setAttribute('value','删除');

        var btnAlt = document.createElement('input'); //创建一个input控件
        btnAlt.setAttribute('type','button'); //type="button"
        btnAlt.setAttribute('value','修改');
        btnDel.style.marginRight=20+"px";
        btnDel.style.width=60+"px";
        btnAlt.style.width=60+"px";

        btnDel.addEventListener('click', function() {
            var currentRow = this.parentNode.parentNode;
            currentRow.parentNode.removeChild(currentRow);
        });

        btnAlt.addEventListener('click', function() {
            var currentRow = this.parentNode.parentNode;
            //currentRow.parentNode.removeChild(currentRow);
            alterUser(currentRow);
            //alert(currentRow.cells[3].toString());
        });


        delCell.appendChild(btnDel);  //把删除按钮加入td，别忘了
        delCell.appendChild(btnAlt);

        row.appendChild(delCell); //将删除按钮所在的单元格添加到行中
        return row; //返回tr数据
    }

    function allCommodity(){
        var xhttp = new XMLHttpRequest();
        xhttp.open("GET", "../commodity?id=1&name=name", true);
        //xhttp.setRequestHeader('Content-Type', 'application/json');
        xhttp.send();

        xhttp.onreadystatechange = function()
        {
            if (this.readyState == 4 && this.status == 200)
            {
                var myObj = JSON.parse(this.responseText);
                var data = myObj.data;
                var tbody = document.getElementById('tableTh');
                tbody.className="table";

                //alert("45456");
                for(var i = 0;i < data.length; i++){ //遍历一下json数据
                    var trow = addValue1(data[i]); //定义一个方法,返回tr数据
                    tbody.appendChild(trow);
                    //var Id=per[i].id;
                    //tbody.innerHTML += "<tr>   <td>"+Id+"</td>  <td>1</td>   <td>1</td>    <td>1</td>    <td>1</td>     <td>1</td> </tr>";
                }
            }
        }
    }
    function alterUser(obj){
        formAlter.style.visibility="visible"
        document.querySelectorAll(".alter_form input")[0].value=obj.cells[0].textContent;
        formAlterAllButton[0].addEventListener('click',()=>{
            var xhttp = new XMLHttpRequest();

            var AidV = document.getElementById("Aid");
            var AnameV=document.getElementById("Aname");
            var ApasswordV=document.getElementById("Apassword");
            var AphoneV = document.getElementById("Aphone");
            var AemailV=document.getElementById("Aemail");

            formAdd.style.visibility="hidden" //添加用户表单点击取消隐藏表单

            var idCell = obj.cells[0];
            var nameCell = obj.cells[1];
            var passwordCell = obj.cells[2];
            var phoneCell = obj.cells[3];
            var emailCell = obj.cells[4];

            // 修改单元格的内容
            idCell.innerHTML = AidV.value;
            nameCell.innerHTML = AnameV.value;
            passwordCell.innerHTML = ApasswordV.value;
            phoneCell.innerHTML = AphoneV.value;
            emailCell.innerHTML = AemailV.value;

            formAlter.style.visibility="hidden"
            alert("修改成功！");

        })

        formAlterAllButton[1].addEventListener('click',()=>{
            formAlter.style.visibility="hidden"
        })
    }

</script>

</html>
