<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>校园二手交易平台管理系统</title>
<!--    <link rel="stylesheet" th:href="@{css/allUser.css}">-->
    <link rel="stylesheet" href="../css/allUser.css">
<!--    <script th:src="@{js/allUser.js}"></script>-->
</head>
<body>
<div class="nav-box">
    <h2>校园二手交易平台管理系统</h2>
    <ul>
        <li><img src="../image/用户.png" alt=""><a href="allUser.html">用户信息管理</a></li>
        <li><img src="../image/用户.png" alt=""><a href="Commodity.html">商品信息管理</a></li>
        <li><img src="../image/用户.png" alt=""><a href="order_manage.html">订单信息管理</a></li>
        <li><img src="../image/用户.png" alt=""><a href="manager_login.html">切换管理员</a></li>
        <li class="exit"><img src="../image/退出系统ico.png" alt="" ><a>退出系统</a></li>
    </ul>
</div>
<div class="container-box">
    <div class="super_box">
        <span>管理员:</span>
        <span th:text="${session.loginUser}"></span>
        <span>></span>
        <span>邮箱:</span>
        <span th:text="${session.email}"></span>
        <span>手机号码:</span>
        <span th:text="${session.tel}"></span>
    </div>
<!--    <div class="reminder-box"><h3>&nbsp;&nbsp;操作面板&nbsp;&nbsp;</h3></div>-->
    <div class="title-box"><h1>用户信息管理界面</h1></div>
    <div class="funtions-box">
        <input type="text" placeholder="请输入查找的用户编号" >
        <button type="button" onclick="successOrDefeat()">搜索</button>
        <button>-</button>
        <button>修改</button>
        <button>+</button>
        <button><a th:href="adminAndUser">查看全部用户</a></button>
        <span th:text="${msg}"></span>
    </div>
    <table class="table-th">
        <tr>
            <th>ID</th>
            <th>名字</th>
            <th>密码</th>
<!--            <th>是否管理员</th>-->
<!--            <th>注册时间</th>-->
            <th>邮箱</th>
            <th>电话</th>
        </tr>
    </table>
    <table class="table">
        <tr th:each="alluser:${alluser}">
            <td th:text="${alluser.id}"></td>
            <td th:text="${alluser.username}"></td>
            <td th:text="${alluser.password}"></td>
<!--            <td th:text="${alluser.status}"></td>-->
<!--            <td th:text="${#dates.format(alluser.create_time,'yyyy-MM-dd')}"></td>-->
            <td th:text="${alluser.email}"></td>
            <td th:text="${alluser.tel}"></td>
        </tr>
    </table>
    <form class="delect_form"  method="post" th:action="@{/delectUser}">
        <input type="text" name="username">
    </form>
    <form class="add_form" method="post" th:action="@{/register}">
        <h1>注册账号</h1>
        <input type="text" placeholder="用户名" name="username" required>
        <input type="password" placeholder="密码" name="password" required>
        <input type="password" placeholder="确认密码" name="repassword" required>
        <input type="email" placeholder="邮箱" name="email"   required>
        <input type="text" placeholder="手机号码" name="tel"  pattern="\d{11}" required>
        <button type="submit">添加用户</button>
        <button type="button">取消</button>
    </form>
    <form method="post" th:action="@{/updateUser}" class="add_form alter_form" >
        <h1>修改账号</h1>
        <input type="text" name="username" readonly >
        <input type="text" placeholder="是否设置管理员?1是0否" name="status" th:value="0" pattern="[0-1]" required  >
        <input type="password" placeholder="密码" name="password"  required>
        <input type="repassword" placeholder="确认密码" name="repassword" required>
        <input type="email" placeholder="邮箱" name="email" required >
        <input type="text" placeholder="手机号码" name="tel" required  pattern="\d{11}">
        <button type="submit">修改</button>
        <button>取消</button>
    </form>
</div>
</body>

<script>
    document.querySelector('.exit').addEventListener('click', e => {
        console.log('111')
        localStorage.clear()
        location.href = '123.html'
    })
    function successOrDefeat() {
        var xhttp = new XMLHttpRequest();

        xhttp.onreadystatechange = function () {

            if (this.readyState == 4 && this.status == 200) {

                var myObj = JSON.parse(this.responseText);

                // if(xhttp.responseText.toString().)
                // if(myObj.code==0)
                // {
                //     alert("请输入正确的账户名或密码！");
                // }
                // else
                // {
                //     window.open("/html/Commodity.html");
                // }

                //window.open("Commodity.html");
                alert(xhttp.responseText);

            }

        };
        var usernameV = document.getElementById("username");
        var passwordV = document.getElementById('password');
        var params = 'username=' + usernameV.value + '&password=' + passwordV.value;
        xhttp.open("POST", "../user/login", true);
        xhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xhttp.send(params);
    }
</script>

</html>
