<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>校园二手交易平台管理系统</title>
    <!--    <link rel="stylesheet" th:href="@{css/allUser.css}">-->
    <link rel="stylesheet" href="../css/allUser.css">
    <!--    <script th:src="@{js/allUser.js}"></script>-->
</head>
<body style="overflow: auto">
<div class="nav-box">
    <h2>校园二手交易平台管理系统</h2>
    <ul>
        <li><img src="../image/用户.png" alt=""><a href="allUser.html">用户信息管理</a></li>
        <li><img src="../image/用户.png" alt=""><a href="Commodity.html">商品信息管理</a></li>
        <li><img src="../image/用户.png" alt=""><a href="order_manage.html">订单信息管理</a></li>
        <li><img src="../image/用户.png" alt=""><a href="manager_login.html">切换管理员</a></li>
        <li class="exit"><img src="../image/退出系统ico.png"  alt=""><a href="首页.html">退出系统</a></li>
    </ul>
</div>
<div class="container-box">
    <div class="super_box">
        <span>管理员:</span>
        <span id="adminName"></span>
        <span>邮箱:</span>
        <span id="email"></span>
        <span>手机号码:</span>
        <span id="telephone"></span>
    </div>
    <!--    <div class="reminder-box"><h3>&nbsp;&nbsp;操作面板&nbsp;&nbsp;</h3></div>-->
    <div class="title-box"><h1>用户信息管理界面</h1></div>
    <div class="funtions-box">
        <input type="text" placeholder="请输入查找的用户编号" class="uid">
        <button type="button" class="btn">搜索</button>
        <button>-</button>
        <button>修改</button>
        <button>+</button>
        <button type="button" class="allCommodity-btn">查看全部用户</button>
        <span th:text="${msg}"></span>
    </div>
    <table class="table-th" id="Commodity" data-name="Commodity" style="width: 1180px">
        <tr>
            <th>用户ID</th>
            <th>用户昵称</th>
            <th>密码</th>
            <th>电话</th>
            <th>邮箱</th>
            <th>删除？修改</th>
            <!--            <th>电话</th>-->
        </tr>
    </table>
    <div style="margin-top:35px;overflow: auto;max-height: 480px">
        <table class="table" id="tableTh">

        </table>
    </div>
    <form class="delect_form"  method="post" th:action="@{/delectUser}">
        <input type="text" name="username">
    </form>
    <form class="add_form" method="post" action="#">
        <h1>添加账号</h1>
        <input type="text" placeholder="用户ID" id="id" name="id" required>
        <input type="text" placeholder="用户昵称" id="name" name="name" required>
        <input type="text" placeholder="密码" id="password" name="password" required>
        <input type="text" placeholder="电话" id="phone" name="phone"   required>
        <input type="email" placeholder="邮箱" id="email1" name="email"  required>
        <button type="button">添加商品</button>
        <button type="button">取消</button>
    </form>
    <form method="post" action="#" class="add_form alter_form" >
        <h1>修改账号</h1>
        <input type="text" placeholder="用户ID" id="Aid" name="commodityID" readonly>
        <input type="text" placeholder="用户昵称" id="Aname" name="userID" required>
        <input type="text" placeholder="密码" id="Apassword" name="name" required>
        <input type="text" placeholder="电话" id="Aphone" name="price"   required>
        <input type="email" placeholder="邮箱" id="Aemail" name="stock"  required>
        <button type="button">修改</button>
        <button type="button">取消</button>
    </form>
</div>
</body>
<script src="../js/axios.js"></script>
<script>
    function exit(){
        localStorage.clear()
    }
</script>
<script type="module" src="../js/auth.js"></script>
<script type="module">
    import {service} from "../js/axiosInterceptor.js"
    function adminGet(params){         // 以管理员身份获取多个用户信息，表单参数：name、email、phone，均String类型，姓名支持模糊搜索
        service({
            url: '/admin/getUsers',    // 默认使用get方法
            params: params
        }).then(result => {            // 返回List<User>result
            return result
        }).catch(error => {
            alert(error)
        })
    }
    function adminAdd(data){           // 以管理员身份添加用户，参数为一个User对象，JSON格式
        service({
            url: '/admin/addUser',
            method: 'post',
            data: data
        }).then(result => {
            return result
        }).catch(error => {
            alert(error)
        })
    }
    function adminDel(list){           // 以管理员身份（批量）删除用户，参数为List<Integer> list
        var len = list.length
        var url = '/admin/'
        if(len < 1) return
        url += list[0]
        for(var i=1; i<len; i++)
            url += (',' + list[i])
        service({
            url: url,
            method: 'delete'
        }).then(result => {
            return result
        }).catch(error => {
            alert(error)
        })
    }
    function adminAlt(){                // 以管理员身份（根据id）修改用户，参数为一个User对象，JSON格式
        service({
            url: '/admin/addUser',
            method: 'put',
            data: data
        }).then(result => {
            return result
        }).catch(error => {
            alert(error)
        })
    }
    function getAdmin(){               // 当前登录的管理员获取个人信息
        service({
            url: '/admin'              // 默认使用post方法
        }).then(result => {
            return result
        }).catch(error => {
            alert(error)
        })
    }
    function altAdmin(data){           // 当前登录的管理员修改个人信息,参数为一个Admin对象，JSON格式
        service({
            url: '/admin',
            method: 'post',
            data: data
        }).then(result => {
            return result
        }).catch(error => {
            alert(error)
        })
    }
    function getUser(){                // 当前登录的用户获取个人信息
        service({
            url: '/user/profile',      // 默认使用get方法
        }).then(result => {
            return result              // 返回一个user对象，其password属性为null
        }).catch(error => {
            alert(error)
        })
    }
    function getUserById(id){          // 以用户身份根据id查找用户，参数为Intege id
        service({
            url: '/user/' + id         // 使用路径参数，默认使用get方法
        }).then(result => {            // 返回一个user对象，其password属性为null
            return result
        }).catch(error => {
            alert(error)
        })
    }
    const table = document.getElementsByClassName("table")[0];
    const funtionsInput = document.querySelectorAll(".funtions-box input")[0];
    const funtionsButtonSearch = document.querySelectorAll(".funtions-box button")[0];
    const funtionsButtonDelect = document.querySelectorAll(".funtions-box button")[1];
    const funtionsButtonUpdata = document.querySelectorAll(".funtions-box button")[2];
    const funtionsButtonAdd = document.querySelectorAll(".funtions-box button")[3];

    const formDelect = document.getElementsByClassName("delect_form")[0];
    const formAdd = document.getElementsByClassName("add_form")[0];
    const formAlter = document.getElementsByClassName("alter_form")[0];

    const formAddAllButton = document.querySelectorAll(".add_form button");
    const formAlterAllButton = document.querySelectorAll(".alter_form button");
    const nameTd = [];
    var highlightedRow = null; // 用于跟踪当前高亮显示的行

    if(localStorage.token)
        service({
            url: '/admin',
            method: 'get'
        }).then(result => {
            if (result.data.data !== null) {
                document.querySelector('#adminName').innerText = result.data.data.name;
                document.querySelector('#email').innerText = result.data.data.email;
                document.querySelector('#telephone').innerText = result.data.data.phone;
            }
        })
    document.querySelector('.exit').addEventListener('click', e => {
        localStorage.clear()
        location.href = 'index.html'
    })
    document.querySelector('.allCommodity-btn').addEventListener('click', e => {
        allCommodity();
    })

    addButtonSearch()
    allCommodity()
    addValue()
    //alterUser()

    function addButtonSearch()//点击查找按钮时
    {
        funtionsButtonSearch.addEventListener('click',()=>{
            // 恢复上一个高亮行的背景颜色
            if (highlightedRow !== null) {
                highlightedRow.style.backgroundColor = '';
            }

            if(funtionsInput.value!=='')
            {
                getNameAllTd()
                let i;
                var rows = table.getElementsByTagName('tr');

                let if_have=0;
                alert(table.rows.length);
                for(i = 0; i<table.rows.length; i++)
                {
                    var idCell = rows[i].getElementsByTagName('td')[0]; // 第一列是 ID 列
                    if (idCell.textContent === funtionsInput.value) {

                        rows[i].style.backgroundColor = 'red'; // 将匹配的行背景色设置为红色
                        rows[i].scrollIntoView({ block: 'center' }); // 将匹配的行滚动到屏幕中间
                        highlightedRow = rows[i]; // 更新当前高亮行
                        if_have=1;
                        break; // 操作完成后退出循环
                    }
                    //alert(idCell.textContent);
                }
                //alert("发生了");
                if(if_have===0)
                {
                    alert("没有找到该用户")
                }
            }
            else
            {
                alert("用户名为空!")
            }

        })
    }

    function getNameAllTd()//获取表格每一行的名字
    {
        for(let i=0;i<table.rows.length;i++)
        {
            nameTd[i]=table.rows[i].cells[0]
            //alert(nameTd[i].toString());
        }
    }

    function addValue()
    {
        funtionsButtonAdd.addEventListener('click',()=>{
            formAdd.style.visibility="visible" //添加用户表单显示
        })
        formAddAllButton[1].addEventListener('click',()=>{
            formAdd.style.visibility="hidden" //添加用户表单点击取消隐藏表单
        })
        formAddAllButton[0].addEventListener('click',()=>{
            ensureAddCommodity();
            formAdd.style.visibility="hidden" //添加用户表单点击取消隐藏表单
        })
    }

    function ensureAddCommodity()
    {
        // var xhttp = new XMLHttpRequest();

        var idV = document.getElementById("id");
        var nameV=document.getElementById("name");
        var passwordV=document.getElementById("password");
        var phoneV = document.getElementById("phone");
        var emailV=document.getElementById("email");

        // var obj = JSON.stringify({"id":idV.value,"name":nameV.value,"password":passwordV.value,"phone":phoneV.value,"email":emailV.value});
        //var obj = JSON.stringify({"name":commodityIDV.value,"email":userIDV.value,"phone":nameV.value,"password":priceV.value,"imageUrl":"null"});
        // xhttp.open("POST", "../admin/register", true);
        // xhttp.setRequestHeader('Content-Type', 'application/json');
        // xhttp.send(obj);
        //window.open("/html/register_scuess.html");
        formAdd.style.visibility="hidden" //添加用户表单点击取消隐藏表单
        // var tbody = document.getElementById('tableTh');
        // tbody.className="table";
        // var addCommodity=JSON.parse(obj);
        // var trow = addValue1(addCommodity); //定义一个方法,返回tr数据
        // tbody.appendChild(trow);
        addUserRequest({id:idV.value,name:nameV.value,password:passwordV.value,phone:phoneV.value,email:emailV.value})
        alert("添加成功！");

    }

    function addValue1(h)
    {
        var row = document.createElement('tr'); //创建行

        var idCell = document.createElement('td'); //创建第一列id
        //idCell.className="add-form";
        idCell.innerHTML = h.id; //填充数据
        row.appendChild(idCell); //加入行  ，下面类似

        var nameCell = document.createElement('td');//创建第二列name
        //nameCell.className="table-th";
        nameCell.innerHTML = h.name;
        row.appendChild(nameCell);

        var jobCell = document.createElement('td');//创建第三列job
        //jobCell.className="table-th";
        jobCell.innerHTML = h.password;
        row.appendChild(jobCell);

        var emailCell = document.createElement('td');//创建第三列job
        //emailCell.className="table-th";
        emailCell.innerHTML = h.phone;
        row.appendChild(emailCell);

        var telCell = document.createElement('td');//创建第三列job
        //telCell.className="table-th";
        telCell.innerHTML = h.email;
        row.appendChild(telCell);

        var delCell = document.createElement('td');//创建第四列，操作列
        row.appendChild(delCell);
        var btnDel = document.createElement('input'); //创建一个input控件
        btnDel.setAttribute('type','button'); //type="button"
        btnDel.setAttribute('value','删除');

        var btnAlt = document.createElement('input'); //创建一个input控件
        btnAlt.setAttribute('type','button'); //type="button"
        btnAlt.setAttribute('value','修改');
        btnDel.style.marginRight=20+"px";
        btnDel.style.width=60+"px";
        btnAlt.style.width=60+"px";

        btnDel.addEventListener('click', function() {
            var currentRow = this.parentNode.parentNode;
            if(!confirm("确认删除？")) return;
            deleteCommodityRequest(currentRow.cells[0].innerHTML); //里面的数字替换为删除的商品id
            currentRow.parentNode.removeChild(currentRow);
        });

        btnAlt.addEventListener('click', function() {
            var currentRow = this.parentNode.parentNode;
            //currentRow.parentNode.removeChild(currentRow);
            alterUser(currentRow);
            //alert(currentRow.cells[3].toString());
        });


        delCell.appendChild(btnDel);  //把删除按钮加入td，别忘了
        delCell.appendChild(btnAlt);

        row.appendChild(delCell); //将删除按钮所在的单元格添加到行中
        return row; //返回tr数据
    }

    function allCommodity(){
        service({
            url: '/admin/getUsers',
            method: 'get',
        }).then(result =>{
            console.log(result.data);
            let data = result.data.data;
            let tbody = document.getElementById('tableTh');
            tbody.className="table";
            tbody.innerHTML = "";
            for(let i = 0;i < data.length; i++){ //遍历一下json数据
                let trow = addValue1(data[i]); //定义一个方法,返回tr数据
                tbody.appendChild(trow);
            }
        }).catch(error => {
            alert(error)
        })
    }
    function deleteCommodityRequest(id){
        service({
            url: '/user/' + id,
            method: 'delete',
        }).then(result =>{
            if(result.data.code === 1) alert("删除成功！");
            else alert("删除失败！"); //实际上code = 0时会被拦截，不会有该弹窗
        }).catch(error => {
            alert(error)
        })
    }
    function alterCommodityRequest(commodity){
        service({
            url: '/admin/alterUser',
            method: 'put',
            data : commodity
        }).then(result =>{
            alert("修改成功！");
        }).catch(error => {
            alert(error)
        })
    }
    function addUserRequest(commodity){
        service({
            url: '/admin/addUser',
            method: 'post',
            data: commodity
        }).then(result =>{
            return result.data.code;
        }).catch(error => {
            alert(error)
        })
    }
    function alterUser(obj){
        formAlter.style.visibility="visible"
        document.querySelectorAll(".alter_form input")[0].value=obj.cells[0].textContent;
        formAlterAllButton[0].addEventListener('click',()=>{
            var xhttp = new XMLHttpRequest();

            var AidV = document.getElementById("Aid");
            var AnameV=document.getElementById("Aname");
            var ApasswordV=document.getElementById("Apassword");
            var AphoneV = document.getElementById("Aphone");
            var AemailV=document.getElementById("Aemail");

            formAdd.style.visibility="hidden" //添加用户表单点击取消隐藏表单

            var idCell = obj.cells[0];
            var nameCell = obj.cells[1];
            var passwordCell = obj.cells[2];
            var phoneCell = obj.cells[3];
            var emailCell = obj.cells[4];

            // 修改单元格的内容
            idCell.innerHTML = AidV.value;
            nameCell.innerHTML = AnameV.value;
            passwordCell.innerHTML = ApasswordV.value;
            phoneCell.innerHTML = AphoneV.value;
            emailCell.innerHTML = AemailV.value;

            formAlter.style.visibility="hidden"
            alterCommodityRequest({id:AidV.value,name:AnameV.value,password:ApasswordV.value,phone:AphoneV.value,email:AemailV.value})
            alert("修改成功！");

        })

        formAlterAllButton[1].addEventListener('click',()=>{
            formAlter.style.visibility="hidden"
        })
    }

</script>

</html>
