<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mymarket.mapper.OfferMapper">
    <insert id="put">
        insert into offer(uid, cid, price, number, order_date, delivery_address, shipping_address, delivery_date) values (#{uid},#{cid},#{price},#{number},#{orderDate},#{deliveryAddress},#{shippingAddress},#{deliverDate});
    </insert>
</mapper>